body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(206, 215, 218); 
}

header {
    background-color: #ebeeef; 
    padding: 10px;
    text-align: center;
    position: fixed; /* Ajouté pour fixer la barre de navigation en haut */
    width: 100%; /* Ajouté pour que la barre de navigation occupe toute la largeur */
    z-index: 1000; 
    height: 60px;
}

.logo-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start; 

}

.logo {
    width: 150px;
    height: 40px;
    margin-right: 100px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    justify-content: space-between;
    height: 100%; /* Assure que les liens prennent toute la hauteur de la barre de navigation */
    align-items: center; /* Centre les liens verticalement */
}

nav ul li {
    display: inline;
    margin-right: 10px;
    float: left;
    
}

nav ul li a {
    text-decoration: none;
    color: rgb(11, 75, 93);
    padding: 25px;
    display: block;
    text-align: center;
}
nav a:hover {
    background-color: #d7e1e7;
}

main {
    padding: 20px;
    background-color: #e6edee; 
    width:auto; 
}

#section1 {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    background-color: #4f8089;
}

#section1 div {
    width: 45%;
}

#section1 img {
    max-width: 100%;
    height:auto;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#section1 h1 {
    font-size: 3em; 
    color: #b8e674;
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px #999; 
    margin-bottom: 15px;
}

#section1 p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #f7f2f2;
}

#section2 {
    background-color: rgb(231, 234, 237);
}

#section2 .sect2 {
    display: flex;
    align-items: start;
    width: 100%;
}

#section2 .sect2 div {
    flex: 1;
}

#section2 .sect2 img {
    max-width: 100%;
    height: auto;
}

#section2 h2 {
color: #034f5a;   
 font-weight: 300;
 word-spacing: 5px;
}

#section3 {
    background-color: white;
}

#section3 .sect3 {
    display: flex;
    flex-direction: row-reverse; 
    align-items: start;
    width: 100%;
}

#section3 .sect3 div {
    flex: 1;
}

#section3 .sect3 img {
    max-width: 100%;
    height: auto;
}
#section3 h2 {
    color: #034f5a;   
     font-weight: 300;
     word-spacing: 5px;
     text-align:justify;
    }

footer {
    background-color: #4f8089; 
    padding: 10px;
    text-align: center;
    color: white;
}
