
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cde0f1; /* Couleur de fond Aqua */
}

header {
    background-color: #ADD8E6; /* Couleur de fond Light Blue */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

main {
    padding: 20px;
}

footer {
    background-color: #ADD8E6; /* Couleur de fond Light Blue */
    padding: 10px;
    text-align: center;
}
