body {
    font-family: Arial, sans-serif;
    background-color: rgb(180, 190, 199);
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(245, 244, 244);
}

main {
    padding: 20px;
}

.float-left {
    float: left;
    margin-right: 10px;
    

}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* This is to clear the float after the images and text */
main::after {
    content: "";
    display: table;
    clear: both;
}
